@{ ViewData["Title"] = "Login"; }
<!--Авторизация -->
<div data-bind="template:'loginTemplate'"></div>
<!--Регистрация-->
<div data-bind="template:'registrationTemplate'"></div>

<!--Восстановление пароля-->
<div data-bind="template:'passRecoverTemplate'"></div>

<script src="~/js/viewModels/autorizeViewModel.js"></script>
