@{
    ViewData["Title"] = "Forgot Password";
}
@model kopilka.ViewModels.SendToEmailPassword
    <div class="style">
        <div class="div_welcome">
            <h1> введите почту для восстановления пароля</h1>
        </div>
        <div class="sendemail_input">
            <form asp-action="SendToEmailPassword" asp-controller="Account" asp-anti-forgery="true" class="sendemail_form">
                <div class="validation" asp-validation-summary="All"></div>
                    <div>
                        <label asp-for="Email" class="label_login">Введите Email</label>
                        <input type="text" asp-for="Email"/>
                        <span asp-validation-for="Email" />
                        <input type="submit" value="Восстановить" class="button_sendemail"/>
                    </div>
            </form>
        </div>
    </div>