@{
    ViewData["Title"] = "Set Range";
}
<div class="hide" id="preloader_text">Пожалуйста подождити</div>
<div class="hide" id="preloader"><img src="~/img/loader.gif" /></div>
<div class="style" id="style">
    <div class="div_welcome">
        <h1>Выберите диапазон копилки</h1>
    </div>
    <div class="index_container">
        <div class="index_input">
            <form method="post" action="~/Home/SetRange" class="index_form">
                <label class="block_input_label">от 1 до:</label>
                <input type="number" name="selectedRange" max="25000" id="typedNumber" class="block_input"/>
                <input type="submit" value="Enter" class="button_index" id="button"/>
            </form>
        </div>
        <h1 class="h1_setRange">Сумма накоплений составит:<span id="SumMoneybox"></span></h1>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var typedNumber = document.getElementById('typedNumber');
        var preloader = document.getElementById('preloader');
        var style = document.getElementById('style');
        var button = document.getElementById('button');
        var preloader_text = document.getElementById('preloader_text');
        
        button.addEventListener('click', function () {
            preloader.classList.add("preloader");
            preloader_text.classList.add("preloader_text");
            style.classList.add("hide");
        });
        const inputs = document.querySelectorAll('input[type=number]');
        Array.from(inputs).forEach(input => {
            const max = +input.max;
            input.addEventListener('input', (e) => {
                const value = +input.value;
                if (value > max) { input.value = max }
            })
        });
        typedNumber.oninput = function () {
            let sum = 0;
            for (i = 1; i <= typedNumber.value; i++) {
                sum += i;
            }
            document.getElementById('SumMoneybox').innerHTML = sum;
        };
    });
</script>
